<div class="min_max">
  <span>
    <p>Min Temp = <%= @min_temp %> 째C</p>
    <p>Max Temp = <%= @max_temp %> 째C</p>
  </span>
</div>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
$(function () {
    Highcharts.chart('container', {
        title: {
            text: 'Daily Weather forcast',
            x: -20 //center
        },
        xAxis: {
          type: "datetime",
          title: {
              text: 'Time'
          }
        },
        yAxis: {
            title: {
                text: 'Temperature (째C)'
            },
        },
        tooltip: {
            valueSuffix: '째C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Temperature',
            data:<%= @data %>
        }]
    });
});
</script>
<style >
.min_max{
    padding-left: 60px;
    padding-top: 15px;
}
}
</style>